/* Different color for bold*/
.cm-strong,
.markdown-preview-section strong {
  color: #ddc50f !important;
}


/* Different color for italic */
.cm-em {
    color: #0aef0e;
	font-style: normal !important;
}

/* of italics in Preview  all notes in a vault */
.markdown-preview-section em {
    color: #0aef0e !important;
	font-style: normal !important;
}